modern-modal(data-modal-id="project-modal" data-modal-animate="clip-up")
  .modal-inner
    .navbar
      .close-btn(data-modal-close)
      .pic(data-upload-item="")
        input.upload-btn(type="file" title="")
        .preview(data-preview="")
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 47.81 50")
            g
              path(d="M32.76,31.14H17.36A16.26,16.26,0,0,0,1.1,47.41v.29A2.23,2.23,0,0,0,3.27,50H46.71a2.22,2.22,0,0,0,2.19-2.2v-.1A16.34,16.34,0,0,0,32.76,31.14Z" transform="translate(-1.1)" fill="#2c2c2d")
              path(d="M24.87,27.94h.18A14,14,0,1,0,11.18,13.87v.2A13.78,13.78,0,0,0,24.87,27.94Z" transform="translate(-1.1)" fill="#2c2c2d")
    .content 
      .category-block
        .container
          nav.category-navbar
            .category-slider.slidable.is-start
              .wrapper
                .item
                  .category(draggable='false') 一月
                .item
                  .category(draggable='false') 二月
                .item
                  .category(draggable='false') 三月
                .item
                  .category(draggable='false') 四月
                .item
                  .category(draggable='false') 五月
                .item
                  .category(draggable='false') 六月
                .item
                  .category(draggable='false') 七月
                .item
                  .category(draggable='false') 八月
                .item
                  .category(draggable='false') 九月
                .item
                  .category(draggable='false') 十月
                .item
                  .category(draggable='false') 十一月
                .item
                  .category(draggable='false') 十二月
        .video-block
          .block.youtube(video-target video-id='9_ES7c3AGbM' video-type='youtube'
          video-mode='onPage'
          video-button='video-btn')
            img(src="https://picsum.photos/600/200?random=15", alt="")
            
          .block.youku(video-target video-id='XNDk5NTU0MTI5Ng' video-type='youku'
          
          video-autoplay='on'
          video-button='video-btn')
            img(src="https://picsum.photos/600/200?random=16", alt="")
          .block(video-target video-id='306783762' video-type='vimeo'
          video-mode='onPage'
          video-autoplay='on'
          video-button='video-btn')
            img(src="https://picsum.photos/600/200?random=16", alt="")
